body, html{
  height:100%;
  width:100%;
}
body{
  margin: 0px;
  background-image: url(img/battlefield.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  font-size: 18px;
} 
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinky{
  position:absolute;
  content: url(img/SmashBall.png);
  height: 90px;
  width: 90px;
}

.kirby{
  position: absolute;
  content: url(img/Kirby.png);
  height: 105px;
  width: 105px;
  -webkit-animation:spin 0.5s linear infinite;
  -moz-animation:spin 0.5s linear infinite;
  animation:spin 0.5s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.pika{
  position: absolute;
  content: url(img/Pikachu.png);
  height: 130px;
  width: 95px;
  -webkit-animation: anim 1s infinite ease;
  animation: anim 1s infinite ease;
}

@-webkit-keyframes anim {
  from {-webkit-transform: rotateY(0deg);}
  to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.pika:hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  position: relative;
  content: url(img/electricity.png);
  height: 400px;
  width: 400px;
  margin-top: -150px;
  margin-left: -145px;
}
